.row img {
	width: 100%;
	height: auto;
}

#redes .fa, a {
	padding-bottom: 0;
	padding-top: 0;
}

nav a {
	padding-bottom: 0;
}

#datos-header {
	margin-top: 4%;
	margin-bottom: 1%;

}
main {
	padding-bottom: 5%;
}

main #noticias img {
	width: 100%;
	height: auto;
}

#main-separator {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
	margin-bottom: 8%;
}

section {
	margin-bottom: 3%;
}

h2, h3 {
	padding-bottom: 20px;
}

article {
	margin-top: 2%;
}

#staff img {
	width: 150px;
	height: 150px;
	border-radius: 100%;
}

.galeria {
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 6%;
}

.gallery img {
	width: 100%;
	height: auto;
	max-height: 215px;
	border-radius: 5%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.gallery img:hover {
	-webkit-transform: scale(1.50);
	-moz-transition: scale(1.50);
	-ms-transition: scale(1.50);
	-o-transition: scale(1.50);
	transform: scale(1.50);
}

section .responsive {
	padding: 0 6px;
	float: left;
	width: 33.333333%;
	margin-bottom: 10px;
	/*margin-right: 10%;*/
	/*margin-left: 10%;*/
}

#form-container, #address-container {
	background-color: lightgray !important;
	display: block;
	border: 1px solid black;
	min-height: 500px;
	border-radius: 2%;

}

#myself img {
	width: 200px;
	height: auto;
	border-radius: 2%;
	margin-bottom: 5%;
}

legend {
	padding: 2px 10px;
}

#botones {
	margin-top: 20px;
}

/*footer {
	display: block;
	width: 100%;
}*/

#pie-pagina {
	background-color: lightgray;
	padding: 10px;
	width: 100%;
	margin:0;
}

.jumbotron h1 {
	text-shadow: -2px 2px #888888;
}


@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}

